---
import DefaultCard from '@components/DefaultCard.astro';
import tashiMenriImg from '@images/tashi-menri-dolanji.jpg'; 
import menriTrizin33Img from '@images/menri-trizin33.jpg';
import lopon2Img from '@images/lopon2.jpg';
import tengelek2Img from '@images/tengelek2.jpg';
import tonpashenrabImg from '@images/tonpashenrab.jpg';
import DefaultLayout from '@layouts/Default.astro';
---

<DefaultLayout title="About us">
  <main class="mx-auto max-w-screen-xl px-5 py-10">
    <div class="text-center">
      <h1 class="text-4xl font-medium">About us</h1>
      <div class="grid justify-center gap-10 p-10 lg:grid-cols-3 md:grid-cols-2">
        <div>
          <DefaultCard
            title={['Yundrung Bon']}
            img={tonpashenrabImg.src}
            link={`${Astro.url.pathname}yundrung-bon/`}
          />
        </div>
        <div>
          <DefaultCard
            title={['Tashi Menri Monastery']}
            img={tashiMenriImg.src}
            link={`${Astro.url.pathname}tashi-menri-monastery/`}
          />
        </div>
        <div>
          <DefaultCard
            title={['33rd Menri Trizin Rinpoche']}
            img={menriTrizin33Img.src}
            link={`${Astro.url.pathname}33rd-menri-trizin/`}
          />
        </div>
        <div>
          <DefaultCard
            title={['Menri Yongdzin Rinpoche']}
            img={lopon2Img.src}
            link={`${Astro.url.pathname}menri-yongdzin-rinpoche/`}
          />
        </div>
        <div>
          <DefaultCard
            title={['Geshe Lungtok Tenzin Gelek']}
            img={tengelek2Img.src}
            link={`${Astro.url.pathname}geshe-lungtok-tenzin-gelek/`}
          />
        </div>
      </div>
    </div>
  </main>
</DefaultLayout>
