---
import CardItem from '@components/CardItem.astro';
import trainingOngoingImg from '@images/training-ongoing.jpg';
import trainingPastImg from '@images/training-past.jpg';
import trainingUpcomingImg from '@images/training-upcoming.jpg';
import DefaultLayout from '@layouts/Default.astro';
---

<DefaultLayout title="Teachings events">
  <main class="mx-auto max-w-screen-xl px-5 py-10">
    <div class="text-center">
      <h1 class="text-4xl font-medium">Teachings events</h1>
      <div class="events">
        <div>
          <CardItem
            date={new Date('2024-11-19')}
            label={{ text: 'Upcoming', color: 'bg-blue' }}
            type="event"
            title={[
              'The secret instructions of the Six Lamps of the Dzogchen Zhang Zhung Nyengyü',
              'The Second Lamp',
              'The Lamp of the Flesh Heart',
            ]}
            img={trainingUpcomingImg.src}
            link={`${Astro.url.pathname}`}
          />
        </div>
        <div>
          <CardItem
            date={new Date('2023-09-27')}
            label={{ text: 'Ongoing', color: 'bg-red-6' }}
            type="event"
            title={[
              'Basic Knowledge of the Subject & Object of the Mind',
              'Dudra',
              'The collections of the basic knowledge of Sutra, Tantra, and Dzogchen',
            ]}
            img={trainingOngoingImg.src}
            link={`${Astro.url.pathname}`}
          />
        </div>
        <div>
          <CardItem
            date={new Date('2023-09-03')}
            label={{ text: 'Past', color: 'bg-neutral-6' }}
            type="event"
            title={[
              'The secret instructions of the Six Lamps of the Dzogchen Zhang Zhung Nyengyü',
              'The first Lamp',
              'The Lamp of the Abiding Base',
            ]}
            img={trainingPastImg.src}
            link={`${Astro.url.pathname}`}
          />
        </div>
      </div>
    </div>
  </main>
</DefaultLayout>

<style>
  h3 {
    @apply text-2xl font-medium;
  }

  .events {
    @apply grid grid-cols-3 gap-10 my-10 px-10;
  }
</style>
